body {
  background-color: #facbd0;
  margin: 0px; }
  body nav ul li {
    display: inline;
    text-decoration: underline; }
    body nav ul li:hover {
      font-weight: bold; }
  body h1 {
    font-size: 32px;
    font-weight: bold; }
  body p {
    font-size: 18px; }
  body form {
    width: fit-content; }
  body a {
    text-decoration: none;
    color: black; }
    body a:hover {
      color: black; }
  body section {
    margin: 5px 100px; }
  body textarea {
    margin: auto;
    width: 380px;
    height: 300px; }
  body input {
    padding: 0.3rem; }
  body footer {
    margin-bottom: 0px;
    height: 225px; }
    body footer p {
      margin: 0px 40px;
      margin-top: 10px; }

.font {
  font-family: 'Kaushan Script', cursive; }

.h2 {
  font-size: 28px;
  font-weight: bold; }

.h3 {
  font-size: 22px;
  font-weight: bold; }

.h4 {
  font-size: 20px;
  font-weight: bold; }

.sub {
  font-size: 20px; }

.subrayado {
  text-decoration: underline; }

.negrita {
  font-weight: bold; }

.margTop {
  margin-top: 1rem; }

.margIzq {
  margin-left: 5px; }

.margBot {
  margin-bottom: 1rem; }

.nav-link {
  text-decoration: none;
  color: black; }

.nav-link:hover {
  text-decoration: none;
  color: black; }

.cf1 {
  background-color: #e6b3b8; }

.cf2 {
  background-color: #dd979e; }

.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.izq {
  display: block;
  margin-left: 0px; }

.der {
  display: block;
  margin-right: 0px; }

.inline {
  display: inline; }

.mid {
  text-align: center; }

.imgDer {
  float: right;
  margin: 4px; }

.imgIzq {
  float: left;
  margin: 4px; }

.padLeft {
  padding-left: 2vw; }

.box {
  width: 27rem;
  background-color: #f7e2e3;
  padding: 105px 165px;
  border: 1px solid black; }

.commentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.car {
  width: 870px;
  height: 700px; }

.noTMargin {
  margin-top: 0px; }

.noBMargin {
  margin-bottom: 0px; }

.hrDelicias {
  width: 1100px; }

.hrPacks {
  width: 800px; }

.hrComment {
  width: 400; }

.seccUno {
  height: 300px; }

.seccDos {
  height: 375px; }

.txt1 {
  width: 1000px;
  padding: 1rem; }

.txt2 {
  width: 1000px;
  margin-left: 100px;
  padding: 1rem; }

.boxtxt {
  overflow: auto;
  padding: 0.7rem; }

.img1 {
  float: right; }

.map1 {
  float: left; }

.commentPage {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.login {
  background-color: #e6b3b8; }

.texthere {
  background-color: #e6b3b8;
  width: 400px; }

.div {
  font-size: 18px;
  display: inline-block; }

.noMargin {
  margin: 0px;
  padding: 0px; }

.blank {
  height: 8rem; }

.familiaCocinera {
  width: 400px; }

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .commentSection {
    display: grid;
    grid-template-areas: "box1 box2" "box3 box4";
    grid-template-columns: 21rem 21rem;
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  .car {
    height: 600px; }
  .blank {
    height: 5rem; }
  .b1 {
    grid-area: box1; }
  .b2 {
    grid-area: box2; }
  .b3 {
    grid-area: box3; }
  .b4 {
    grid-area: box4; }
  .box {
    width: 22rem; }
  .seccUno {
    margin: 4vw; }
  .txt1 {
    width: 39vw; }
  .seccDos {
    margin: 3vw; }
  .map1 {
    width: 50vw; }
  .txt2 {
    width: 42vw;
    margin-left: 1vw; }
  iframe {
    width: 50vw; }
  body section {
    margin: 2vw; }
  body textarea {
    width: 21.5rem; }
  .hrDelicias {
    width: 94vw; }
  .hrPacks {
    width: 94vw; }
  .commentPage {
    margin-left: 1vw;
    margin-right: 1vw; }
  .texthere {
    width: 368; } }

@media only screen and (max-width: 766px) {
  body {
    height: 100vh;
    width: 100vw; }
  .commentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw; }
  .box {
    width: 92vw;
    margin-top: 4px;
    margin-bottom: 4px; }
  .container {
    padding-left: 0px;
    padding-right: 0px; }
  .car {
    width: 100%;
    height: auto; }
  .blank {
    height: 3rem; }
  .seccUno {
    margin: 2vw;
    height: 33rem; }
  .txt1 {
    width: 96vw; }
  .seccDos {
    margin: 2vw;
    height: 36rem; }
  .map1 {
    width: 96vw; }
  .txt2 {
    width: 96vw;
    margin-left: 1vw; }
  iframe {
    width: 96vw; }
  body nav a {
    font-size: 1.2rem; }
  body h1 {
    font-size: 1.5rem; }
  body section {
    margin: 2vw; }
    body section .imgDer {
      margin-right: 19vw;
      margin-left: 19vw;
      margin-bottom: 4vw; }
  body p {
    font-size: 1rem; }
  body textarea {
    width: 97vw; }
  .hrDelicias {
    width: 94vw; }
  .hrPacks {
    width: 94vw; }
  .familiaCocinera {
    width: 100vw; }
  .commentPage {
    flex-direction: column; }
  .login {
    padding-left: 1vw;
    padding-right: 1vw; }
  .texthere {
    width: 100vw;
    margin-top: 3rem; }
  .hrComment {
    width: 100vw; }
  .h2 {
    font-size: 1.4rem; }
  .h3 {
    font-size: 1.2rem; }
  .h4 {
    font-size: 1.1rem; } }
